In [ ]:
#1. In the below elements which of them are values or an expression? eg:- values can be integer or string and expressions will be mathematical operators.

* #mathematical operators
'hello'#String
-87.8 #Float
- #mathematical operators
/ #mathematical operators
+ #mathematical operators
6 #Intiger

In [ ]:
#2. What is the difference between string and variable?
"""
A string is a array of character's which is stroed in '',"","""""". ex-"Niladri"
And a variable is a container where we can save values, like a="Niladri", here "a" is a variable which is contain "Niladri"=string. 
"""

In [3]:
#3. Describe three different data types.
#integer
"""Intiger is neumeric value like 1,2.3,4,5 etc."""
a=5
print(type(a))
#Float
"""Float is a decimal value like 2.0,3.0,5.55 etc."""
b=5.36
print(type(b))
#String
""""""

<class 'int'>
<class 'float'>

In [1]:
#4. What is an expression made up of? What do all expressions do?
"""
A expression is a combination of oparetors and oparands that is interpreted to produce some other value.
Ex- A=5+8
A=8
"""
A=55+66
print(A)

121

In [ ]:
#5. This assignment statements, like spam = 10. What is the difference between an expression and a statement?
""" The main difference between an expression and statement is expression can be assingned or use as oparands 
and statement is only declared."""

In [5]:
#6. After running the following code, what does the variable bacon contain?
bacon = 22
bacon + 1 # bacon=23

23

In [9]:
#7. What should the values of the following two terms be?
'spam' + 'spamspam' #"spamspamspam"
'spam' * 3 #"spamspamspam"

'spamspamspam'

In [ ]:
#8. Why is eggs a valid variable name while 100 is invalid?
"""Beacuse a variable can starts with a alphabet not with a neumeric value. """

In [ ]:
#9. What three functions can be used to get the integer, floating-point number, or string version of a value?
"int for integer"
"float for floating"
"str or "",'' for string"

In [6]:
#10. Why does this expression cause an error? How can you fix it?
'I have eaten ' + 99 + ' burritos.' #Beacuse you have to concatenate with same data types. Here 99 is interger not a string.
'I have eaten ' + "99" + ' burritos.' # Correct one.

TypeError: can only concatenate str (not "int") to str